@import "./themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-primary text-text-default font-sans transition-colors duration-300;
}

.auth-input {
  @apply w-full p-3 rounded-lg bg-bg-primary border border-border-color text-text-default focus:ring-2 focus:ring-accent-blue focus:border-accent-blue transition duration-200;
}
.btn-primary {
  @apply w-full py-3 rounded-lg font-semibold transition duration-300 bg-accent-blue text-white hover:bg-opacity-80 disabled:bg-text-muted/50;
}
